<launch>

  <node pkg="rosserial_python" name="rosserial_braccio" type="serial_node.py" output="screen" clear_params="true">
    <param name="port" value="/dev/ttyACM0" />
  </node>

   <node pkg="ros_braccio_opencv_obj_detect_grab" name="parse_and_publish_braccio" type="parse_and_publish" output="screen">
  </node>

</launch>
